<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
}
.bodysection{
    margin: 0px 40px;
}
.bodysection .paragrap1{ 
    width: 60%;
    margin: 10px auto;
    font-size: 15px;
}
.bodysection .heading{
    margin: 10px 0px;
}
.bodysection .contentbody1 .col{
border: 10px solid white;
background-color: whitesmoke;
padding: 20px 0px;
}
.bodysection .contentbody1 .col h1{
    font-size: 25px;
    margin:5px 10px;
}
.bodysection .contentbody1 .col p{
    font-size: 12px;
    text-align: left;
    margin:5px 10px;
}
.bodysection .contentbody1 .col a{
    font-size: 15px;
    text-decoration: none;
    margin:10px 10px;
    color: #1A73E8;
}
.bodysection .contentbody1 .col a i{
    margin-left: 30px;
    font-size: 15px;
}
.contentbody2                                   {
    background-color: #1A73E8;
    border-radius: 4px;
    color: #FFFF;
    margin: 60px 0px;
    padding: 10px 30px;
    }
.contentbody2 p{
font-size: 25px;
}
.contentbody2 button{
    color: #1A73E8;
    font-size: 15px;
    height: 40px;
}
.contentbody3{
    background-color: #D1E3FA ;
 padding: 80px 40px 0px 40px;
}
.contentbody3 .part1 h3{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
}
.contentbody3 .part1 p{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 120px;
}

.contentbody3 .part1 img{
    width: 100%;
}
.contentbody3 .part2 div {
    margin-bottom: 40px;
}
.contentbody3 .part2 div h1{
    color:#1A73E8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}
.contentbody3 .part2 div h4{
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.contentbody3 .part2 div p{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* media query  */
@media screen and (max-width: 540px) {
    .bodysection .paragrap1{ 
        width: 100%;
        margin: none;
        font-size: 10px;
    }
    .bodysection .contentbody1 .col{
        text-align: center;
        }
    .bodysection .contentbody1 .col p{
        text-align: center;
        }
    .contentbody2 p{
        font-size: 15px;
        text-align: center;
        }
        .contentbody3 .part2 div h1{
            margin-top: 60px;
        }
  } 
=======

      /* muslimah style ending  */
      .topnav a{
        float: right;
       }
       .text{
        display: flex;
        float: right;
        flex: content;
       }
       /* unvisited link */
       div a:link{
          color: aquamarine;
       }
       /* unvisited link */
       a:link {
        color: red;
       }
       
       /* visited link */
       a:visited {
        color: black;
       }
       
       /* mouse over link */
       a:hover {
        color: hotpink;
       }
       span{
        color: blue;
       }
       
       /* selected link */
       a:active {
        color: blue;
       }
       a:link {
        text-decoration: none;
       }
       
       a:visited {
        text-decoration: none;
       }
       
       a:hover {
        text-decoration: underline;
       }
       
       a:active {
        text-decoration: underline;
       }
       .section1{
         flex-direction: column;
         background-color: lightgray;
       }
       .section1 button{
         background-color: blue;
       }
       .section1 img{
         display: flex;
         float: right;
         align-items: baseline;
       }
       .section2 img{
         display: flex;
         float: right;
       }
       
         
       /* Create two equal columns that floats next to each other */
       .column {
         float: left;
         width: 50%;
         padding: 10px;
         height: 300px; /* Should be removed. Only for demonstration */
       
       
       /* Clear floats after the columns */
       .row:after {
         content: "";
         display: table;
         clear: both;
       }
       }
       /* <!-- muslimah style ending --> */
>>>>>>> 0ff98776305bfc5cb73f2ba20b9eb1220f012f8c
