
/* @media screen and (min-width:400px){ */
    
*{
    margin: 0px;
    padding: 0px;
}
.bodysection{
    margin: 0px 40px;
}
.bodysection .paragrap1{ 
    width: 60%;
    margin: 10px auto;
    font-size: 20px;
}
.bodysection .heading{
    margin: 10px 0px;
}
.bodysection .contentbody1 .col{
border: 10px solid white;
background-color: whitesmoke;
padding: 20px 0px;
}
.bodysection .contentbody1 .col h1{
    font-size: 30px;
    margin:5px 10px;
}
.bodysection .contentbody1 .col p{
    font-size: 15px;
    text-align: left;
    margin:5px 10px;
}
.bodysection .contentbody1 .col a{
    font-size: 15px;
    text-decoration: none;
    margin:10px 10px;
    color: #1A73E8;
}
.bodysection .contentbody1 .col a i{
    margin-left: 30px;
    font-size: 15px;
}
.contentbody2                                   {
    background-color: #1A73E8;
    border-radius: 4px;
    color: #FFFF;
    margin: 60px 0px;
    padding: 30px 30px;
    }
.contentbody2 p{
font-size: 25px;
}
.contentbody2 button{
    color: #1A73E8;
    font-size: 15px;
    height: 40px;
}
.contentbody3{
    background-color: #D1E3FA ;
 padding: 80px 40px 0px 40px;
}
.contentbody3 .part1 h3{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
}
.contentbody3 .part1 p{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 120px;
}

.contentbody3 .part1 img{
    width: 100%;
}
.contentbody3 .part2 div {
    margin-bottom: 40px;
}
.contentbody3 .part2 div h1{
    color:#1A73E8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}
.contentbody3 .part2 div h4{
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.contentbody3 .part2 div p{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* footer style */
.footer{
    margin: 0px 20px;
  
}
.firstfooter .testi{
width: 10%;
text-align: left;
}
.firstfooter h1{
    font-size: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.firstfooter .carousel{
    background-color: whitesmoke;
    position: unset;
    padding: 50px;
    border: 1px solid rgba(128, 128, 128, 0.522);;
}
.firstfooter .carousel .carousel-inner .carousel-caption{
position: unset;
}
.firstfooter .carousel .carousel-inner .carousel-caption p{
    font-size: 25px;
    text-align: left;
}
.firstfooter .carousel .carousel-inner .carousel-caption .userprofile{
    text-align: left;
}
.firstfooter .carousel .carousel-inner .carousel-caption .userprofile img{
    height: 100px;
    width: 100px;
}
.firstfooter .carousel .carousel-inner .carousel-caption .userprofile div{
   margin-left: 30px;
}
.firstfooter .carousel .carousel-inner .carousel-caption .userprofile div h1{
   font-size: 40px;
}
.firstfooter .carousel .carousel-inner .carousel-caption .userprofile div p{
   font-size: 20px;
}
.firstfooter .carousel .carousel-indicators{
    position: unset;
    display: flex;
    justify-content: left;
    margin: 0px;
}
.firstfooter .carousel .carousel-indicators button{
    background-color: skyblue;
    width: 130px;
    height: 10px;
    border-radius: 20px 10px;
}
.footer2{
    text-align: center;
    background-image: url('../resources/Rectangle\ 3276.png');
    margin: 20px;
    padding: 20px;
}
.footer2 h1{
    font-size: 30px;
    color: white;
}
.footer2 p{
  font-size: 20px;
  color: white;
}
.footer2 div button{
    margin-left: 20px;
}
.footer3{
    margin: 20px;
    background-color: rgb(2, 2, 55);
    color:white;
    padding: 20px 50px;
}
.footer3 .f3part2{
    margin-top: 25px;
}
.footer3 .f3part2 input{
width: 70%;
height: 38px;
}
.footer3 .f3part2 button{
height: 38px;
margin-top: -4px;
}
.footer4{
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 204, 255, 0), rgba(0, 204, 255, 1));
}
.lpart1{
    margin: 60px 0px;
}
.lpart2 .buts{
    margin: 60px 0px;
    display: flex;
}
.lpart2 .buts button{
    background-color: transparent;
    border: transparent;
    margin-bottom: 35px;
}
.lpart3{
    margin: 60px 0px;
}
.lpart3 h1{
    font-size: 20px;
}
.lpart3 img{
    width: 28px;
    height: 28px;
    margin-left: 10px;
}

/* media query  */
@media screen and (max-width: 1050px){
    .lpart1 h1{
        font-size: 20px;
    }
    .lpart1 h3{
        font-size: 15px;
    }
    .lpart1 h4{
        font-size: 18px;
    }
    .lpart3 img{
        width: 23px;
    height: 23px;
    }
}
@media screen and (max-width: 740px) {
    .bodysection .paragrap1{ 
        width: 100%;
        margin: none;
        font-size: 10px;
    }
    .bodysection .contentbody1 .col{
        text-align: center;
        }
    .bodysection .contentbody1 .col p{
        text-align: center;
        }
    .bodysection .contentbody1 .col h1{
        text-align: center;
        }
    .contentbody2 p{
        font-size: 15px;
        text-align: center;
        }
        .contentbody3 .part2 div h1{
            margin-top: 60px;
        }
        .contentbody3{
         padding: 80px 0px 0px 0px;
        }
        .contentbody3 .part1 h3{
            text-align: center;
        }
        .firstfooter .carousel{
            padding: 0px;
        }
        .firstfooter h1{
            font-size: 25px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption p{
            font-size: 15px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption{
            margin: 0px 10px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption .userprofile img{
            margin-left: 10px;
            height: 50px;
            width: 50px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption .userprofile div{
           margin-left: 30px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption .userprofile div h1{
           font-size: 25px;
        }
        .firstfooter .carousel .carousel-inner .carousel-caption .userprofile div p{
            font-size: 15px;
         }
         .footer2{
            text-align: left; 
        }
        
        .footer2 h1{
            font-size: 20px;
        }
        .footer2 p{
        font-size: 11px;
        }
        .footer2 div button{
            font-size: 10px;
        }
        .footer3{
            margin: 20px;
            padding: 20px 20px;
        }
        .f3part1 h1{
            font-size: 20px;
        }
        .f3part1 p{
            font-size: 15px;
        }
        .footer3 .f3part2{
            margin-top: 15px;
        }
        .footer3 .f3part2 input{
        width: 60%;
        }
        .footer3 .f3part2 button{
        width:  30%;
        }
        .lpart1{
            text-align: left;
        }
        .lpart1,.lpart2,.lpart3{
            margin: 0px 0px;
        }
  }
  
      /* muslimah style ending  */
      .topnav a{
        float: right;
        margin: 8px;
       }
       .topnav select{
        float: right;
        margin: 8px;
        border: none;
       }
       .topnav button{
        float: right;
        background-color: #D1E3FA;
         color: blue;
         border: none;
         margin: 5px 2px;
         padding: 10px;
         display: block;
         border-radius: 7px;
       }
       .text{
        display: flex;
        float: right;
        flex: content;
       }
       /* unvisited link */
       div a:link{
          color: aquamarine;
       }
       /* unvisited link */
       a:link {
        color: red;
       }
       
       /* visited link */
       a:visited {
        color: black;
       }
       
       /* mouse over link */
       a:hover {
        color: hotpink;
       }
       span{
        color: blue;
       }
       
       /* selected link */
       a:active {
        color: blue;
       }
       a:link {
        text-decoration: none;
       }
       
       a:visited {
        text-decoration: none;
       }
       
       a:hover {
        text-decoration: underline;
        text-decoration-line: underline;
       }
       
       a:active {
        text-decoration: underline;
        text-decoration-line: underline;
       }
       .section1{
        display: flex;
         flex-direction: row;
         background-color:#D1E3FA;
         margin-left: 20px;
         margin-bottom: 70px;
         
         ;
       }
       .section1 div h1{ 
        margin: 20px;
       }
       .section1 div p{
        margin: 20px;
       }
       .section1 div button{
         background-color: blue;
         color: azure;
         border: none;
         margin: 2px 20px;
         padding: 10px;
         display: inline-block;
         border-radius: 8px;
       }
       .section1 img{
         float: right;
        width: 100%;
        margin-bottom: 100px;
        margin-right: 20px;
       }
       .section2 div h2{
        text-align: center;
       }
       .section2 div p{
        text-align: center;
       }
    .section3{
        display: flex;
        flex-direction: row;
    }
    .section3 div h3{
        margin: 20px;
    }
    .section3 div h4{
        margin: 20px;
    }
    .section3 div p{
        margin: 20px;
    }
    .section4{
        display: flex;
        flex-direction: row;
    }
    .section4 div h2{
        margin: 20px;
    }
    .section4 div h4{
        margin: 20px;
    }
    .section4 div p{
        margin: 20px;
    }
    .section4 div h3{
        margin: 20px;
    }
    .section4 img{
        margin: 20px;
    }
       /* Create two equal columns that floats next to each other */
       .column {
         float: left;
         width: 50%;
         padding: 10px;
         height: 300px;
          /* Should be removed. Only for demonstration */
       
       
       /* Clear floats after the columns */
       .row:after {
         content: "";
         display: table;
         clear: both;
       }
    }
/* } 